h3 {
  text-align: center;
  font-size: 75px;
  font-family: fantasy;
  background-image: url('./images/Hardwood.jpg');
  background-size: cover;
  padding: 10px;
  padding-bottom: 2px;
}



input#city {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

input#state {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

div.card {
  position: absolute;
  top: 235px;
  left: 1100px;
  background-color: bisque;
  padding: 2px 20px;
  border: 5px outset tan
}

body {
  background-color: blanchedalmond;
}
