h3 {
  text-align: center;
  font-size: 75px;
  font-family: fantasy;
}

input#city {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

input#state {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

div#brewery-type-list {
  position: absolute;
  top: 245px;
  left: 1100px
}